.login {
    font-family: century gothic;
    font-size: 90%;
    color: grey;
    margin-left: 85%;
    max-width: 100%;
}

body {
    background-color: white;
    color: black;
    max-width: 100%;
}

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.topbar {
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
    max-height: 5%;
    overflow: visible;
    display: inline-block;
}

.fall {
    overflow: auto;
    width: 100%;
    height: 50%;
    background-color: white;
}

.subhead {
    font-family: Palace Script MT;
    font-size: 300%;
    letter-spacing: 10px;
    padding-top: 5%;
    padding-left: 30%;
}

.bus {
    width: 40%;
    background-color: black;
    height: 2%;
    margin-left: 30%;
}

.heade {
    font-family: times new roman;
    font-size: 600%;
    width: 40%;
    word-spacing: -10px;
    padding-bottom: 5%;
    padding-left: 30%;
}

.link {
    display: none
}

a:visited {
    color: none
}

a:active {
    color: none
}

.slink {
    background-color: rgba(0, 2, 5, 0.932);
    height: 2%;
    color: white;
    padding: 2% 0% 2% 0%;
    white-space: nowrap;
    font-family: Impact;
    font-size: 120%;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
}

a {
    text-decoration: none;
}

#slide {
    width: 100%;
    height: 300px;
}

#orslide {
    width: 100%;
    height: auto;
}

.dropd {
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}

.dropdd {
    cursor: pointer;
    margin: 2% 6% 2% 4%;
}

.container {
    max-width: 100%;
    white-space: nowrap;
    height: 60%;
}

.head {
    display: inline-block;
    max-width: 49%;
    margin-top: 2%;
}

.container2 {
    max-width: 100%;
    height: 30%;
}

.c2 {
    display: inline-block;
    width: 100%;
}

.container3 {
    max-width: 100%;
    color: white;
}

.con {
    font-family: impact;
    font-size: 4vw;
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 100%;
    text-align: center;
}

.conu {
    font-family: impact;
    font-size: 5vw;
    margin-bottom: 1%;
    max-width: 100%;
    text-align: center;
}

.but {
    padding: 1% 4%;
    font-family: century gothic;
    font-size: 3vw;
    color: black;
    background-color: goldenrod;
    cursor: pointer;
    border-radius: 5%;
    max-width: 80%;
    margin-bottom: 1%;
    margin-left: 35%;
    border: black;
}

.w3-container {
    max-width: 100%;
    background-color: rgb(38, 39, 38);
    display: none;
}

.input {
    padding: 1% 0% 1% 0%;
    margin: 2% 0% 2% 0%;
    display: block;
    width: 50%;
    margin-left: 2%;
    border-radius: 5px;
    border: solid 1px rgba(128, 128, 128, 0.637);
}

.button {
    border: 1PX;
    padding: 6px 16px;
    color: white;
    background-color: rgb(14, 212, 57);
    cursor: pointer;
    border-radius: 2px;
    margin-left: 2%;
}

.prop {
    white-space: nowrap;
    text-align: center;
}

.footer2 {
    color: rgba(228, 253, 255, 0.966);
    display: inline-block;
    background-color: black;
    width: 100%;
    height: auto;
}

p {
    font-family: century gothic;
    font-size: 15px
}

p3 {
    font-family: century gothic;
    font-size: 1.2vw;
    opacity: 0.5;
}

p4 {
    float: right;
    font-family: century gothic;
    color: rgba(228, 253, 255, 0.966);
    opacity: 0.5;
    font-size: 15px;
}

a {
    text-decoration: none;
    text-decoration-color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-emphasis-color: inherit;
    color: inherit
}

.sepa {
    display: inline-block;
    padding-left: 10%;
}

@media only screen and (max-width:800px) {
    .login {
        font-size: 60%;
        margin-left: 75%;
        max-width: 100%;
    }
    body {
        background-color: black;
        color: white;
        max-width: 100%;
    }
    .menuline {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px
    }
    .menuicon {
        padding-top: 10px;
        cursor: pointer;
        float: left;
    }
    .fall {
        margin-top: 8%;
    }
    .heade {
        font-size: 10vw;
        width: 70%;
    }
    .subhead {
        font-size: 8vw;
        letter-spacing: 4px;
    }
    .bus {
        width: 50%;
        background-color: white;
        margin-left: 30%;
        font-size: 1vw;
    }
    .link {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.932);
        z-index: 1;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        overflow: auto;
        height: 100%;
        font-family: MV Boli
    }
    .link a {
        color: white;
        padding: 2px 2px;
        display: block;
        text-decoration: none;
        font-family: arial;
        text-align: center;
        font-size: 15px
    }
    .link a:hover {
        background-color: rgba(0, 0, 0, 0.596);
    }
    .show {
        display: block;
    }
    #sid {
        display: none;
    }
    .container {
        margin-top: 5%;
        margin-left: 0%
    }
    .head {
        display: block;
        max-width: 100%;
        margin-top: 2%;
        height: 80%;
    }
    #slide {
        height: 200px;
    }
    #orslide {
        height: auto;
    }
    p {
        font-family: century gothic;
        font-size: 15px
    }
    .footer2 {
        color: rgba(228, 253, 255, 0.966);
        display: inline-block;
        background-color: black;
        width: 100%;
        height: 100%;
    }
    p3 {
        font-family: century gothic;
        font-size: 10px;
        text-align: center;
        opacity: 0.5;
    }
    p4 {
        float: right;
        font-size: 10px;
    }
    .sepa {
        display: inline-block;
        padding-left: 5%;
        padding-right: 5%
    }
}

@media only screen and (max-width:600px) {
    .bus {
        width: 50%;
    }
    .heade {
        font-size: 10vw;
    }
    .subhead {
        font-size: 6vw;
    }
}