body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    max-width: 100%;
    background-image: url("../images/backgrouns.jpeg");
    background-color: #cccccc;
}

html body {
    margin: 0%;
}

.fall {
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99;
    display: inline-block;
    padding-bottom: 2%;
    transition: 0.4s;
}

.heades {
    display: none;
}

.heade {
    padding-top: 0.5%;
    transition: 0.4s;
    padding-left: 2%;
    float: left;
    max-width: 40%;
    height: 80px;
}

#logo {
    transition: 0.4s;
    width: 200px;
    height: 80px;
}

#IG {
    transition: 0.4s;
    width: 80px;
    height: 20px;
}

.slink {
    color: rgba(15, 160, 189, 0.932);
    padding: 0.5% 0% 0.5% 48%;
    white-space: nowrap;
    font-family: Impact;
    font-size: 1.2vw;
    transition: 0.4s;
    margin-top: 60px;
}

.link {
    display: none
}

a:visited {
    color: none
}

a:active {
    color: none
}

.dropdd {
    cursor: pointer;
    margin: 2% 1% 2% 1%;
}

a {
    text-decoration: none;
}

.dropd {
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 17px;
    font-weight: 600;
}

.content {
    z-index: -1;
}

a {
    text-decoration: none;
    text-decoration-color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-emphasis-color: inherit;
    color: inherit
}

* {
    box-sizing: border-box
}


/* style the container */

.container {
    display: block;
    position: relative;
    width: 530px;
    height: 679px;
    margin: auto;
    margin-top: 180px;
    box-shadow: 1px 5px 10px 1px #333;
    overflow: hidden;
    background-color: rgba(2, 2, 2, 0.644);
}


/* style inputs and link buttons */

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

textarea {
    width: 100%;
    height: 250px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

option {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: rgb(255, 14, 54);
    background-color: rgba(255, 255, 255, 0.26);
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}


/* style the submit button */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Two-column layout */

.col {
    width: 85%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.row1 {
    text-align: center;
    color: #333;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: inline-block;
}


/* text inside the vertical line */


/* bottom container */

.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}

#footlogo {
    width: 100px;
    height: 40px;
}

.vuvu {
    display: inline;
    padding-bottom: 2%;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */

@media only screen and (max-width:1024px) {
    html body {
        margin: 0%;
    }
    .top {
        position: fixed;
        max-width: 100%;
        z-index: 1;
        top: 0;
        background-color: white;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .topbar {
        background-color: white;
        max-width: 100%;
        max-height: 5%;
        overflow: visible;
    }
    .menuicon {
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        float: left;
    }
    .menuline {
        width: 50px;
        height: 5px;
        background-color: rgb(15, 160, 189);
        margin: 6px
    }
    .heades {
        padding-top: 1%;
        transition: 0.4s;
        padding-left: 2%;
        max-width: 40%;
        max-height: 50px;
        display: inline;
    }
    .fall {
        display: none;
    }
    .link {
        display: none;
        position: fixed;
        background-color: rgba(15, 160, 189, 0.37);
        z-index: 1;
        max-width: 50%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        overflow: auto;
        height: 100%;
        font-family: MV Boli;
        transition: 0.5s;
    }
    .link a {
        color: rgb(255, 255, 255);
        padding: 5%;
        display: block;
        text-decoration: none;
        font-family: arial;
        text-align: center;
        font-size: 5vw;
        transition: 0.3s;
    }
    .container8 {
        margin-top: 20%;
    }
    .link a:hover {
        background-color: rgba(0, 0, 0, 0.596);
    }
    .show {
        display: block;
    }
    #sid {
        display: none;
    }
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    .slideshow-container {
        max-width: 90%;
        position: relative;
        margin: auto;
    }
    #imagin {
        width: 100%;
        height: 500px;
    }
    #logo1 {
        width: 35%;
        height: 85px;
    }

    }    #IG1 {
        transition: 0.4s;
        width: 150px;
        height: 40px;
    }
}

@media only screen and (max-width:600px) {
    .heade {
        font-size: 10vw;
    }
    #imagin {
        width: 100%;
        height: 400px;
    }
    #logo1 {
        width: 50%;
        height: 55px;
    }  #IG1 {
        transition: 0.4s;
        width: 70px;
        height: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        max-width: 90%;
        margin-top: 90px;
    }
    .col {
        width: 100%;
        margin: auto;
        padding: 0 20px;
        margin-top: 6px;
    }
    .menuline {
        width: 30px;
    }
    #imagin {
        width: 100%;
        height: 250px;
    }
 #logo1 {
            width: 40%;
            height: 60px;
        }      
    #IG1 {
        transition: 0.4s;
        width: 65px;
        height: 20px;
    }
}